.idea/
.vs/
.vscode/
target/
src/main/java/utils/application.yaml
src/main/resources/utils/application.yaml
librarymanagementsystem-frontend/.idea
librarymanagementsystem-frontend/node_modules/
.DS_Store
